<h2>TODO: Input group</h2>

<section class="mz-demo-section">
  <h3>Basic</h3>
  <section class="mz-demo-case">

    <mz-input-group inputIconWidth="24px">
      <button slot="left" mzButton color="secondary">Stuff</button>
      <ng-container slot="input-left">M</ng-container>
      <input type="text" mzInput value="Some content" withFullWidth>
      <ng-container slot="input-right">H</ng-container>
      <button slot="right" mzButton>Search</button>
    </mz-input-group>

  </section>
</section>
