<h2>TODO: Autocomplete</h2>

<section class="mz-demo-section">

  <section class="mz-demo-case">
    <h3>Basic</h3>

    <input type="search" mzInput #myInput="mzInput">

    <mz-autocomplete
      [ref]="myInput"
      [options]="options"
      #myAutocomplete="mzAutocomplete"
    >
      <ng-container *ngFor="let option of myAutocomplete.options$ | async">
        <mz-autocomplete-item [value]="option.value">
          {{ option.label }}
        </mz-autocomplete-item>
      </ng-container>
    </mz-autocomplete>

    <!-- TODO: Attempt #1 -->
    <!-- <mz-autocomplete
      [ref]="myInput"
      [options]="options"
      #myAutocomplete="mzAutocomplete"
    >
      <mz-autocomplete-item
        *ngFor="let option of myAutocomplete.options$ | async"
        [value]="option.value"
      >
        {{ option.label }}
      </mz-autocomplete-item>
    </mz-autocomplete> -->

  </section>

</section>


TODO
<ul>
  <li>Keyboard control</li>
  <li>Suggestion highlight via keyboard</li>
  <li>Confirm and change input value</li>
</ul>
