<header>
  <div class="left">
    <a class="menu-handle" (click)="onOpenNav($event)">Menu</a>
    <h1>Demo: Components</h1>
  </div>
  <div class="right">
    <h6>{{ version }}</h6>
  </div>
</header>

<div class="demos">

	<!-- Navigation side menu -->
	<aside [class.visible]="isNavVisible" (click)="onPreventClick($event)">
		<nav>
			<ul>
				<li
					*ngFor="let route of routes"
					routerLinkActive="active"
					[routerLinkActiveOptions]="{ exact: true }"
				>
					<a [routerLink]="route.url" (click)="onCloseNav($event)">
						{{ route.label }}
					</a>
				</li>
			</ul>
		</nav>
	</aside>

	<main>
		<router-outlet></router-outlet>
	</main>
</div>
