@mixin from-tablet-up() {
	@media screen and (min-width: 768px) {
		@content;
	}
}

:host {
	display: flex;
	flex-direction: column;
	padding: 0.66rem;
	margin: 0;
	width: 100vw;
	height: 100vh;
	overflow-y: auto;
	background-color: var(--color-background);
}

header {
	padding: 1rem 0;
	margin-bottom: 1rem;
	border-bottom: 2px solid var(--color-grey-300);
	display: flex;
	align-items: center;

  .left {
    flex-grow: 1;
  }
}

.menu-handle {
	margin: 0 0.66rem;
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;
	border: 2px solid var(--color-grey-200);
	transition: 0.15s background-color ease-out;
	cursor: pointer;

	&:hover {
		background-color: var(--color-grey-200);
	}

	@include from-tablet-up() {
		display: none;
	}
}

.demos {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	height: 100%;
}

aside {
	padding: 0.5rem;
	margin-right: 1rem;
	transform: translateX(-100%);
	transition: 0.15s all ease-out;

	&.visible {
		transform: translateX(0);
	}

	ul {
		padding-left: 0;
		list-style-type: none;
	}

	li {
		padding: 0.5rem 0.75rem;

		&.active {
			background-color: var(--color-grey-200);
			border-radius: 0.5rem;
		}
	}
}

// Mobile-only
aside {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	overflow-y: auto;
	box-shadow: 0 0 2rem rgba(0,0,0,0.2);
	background: var(--color-background);
	z-index: 10;
	min-width: 160px;

	@include from-tablet-up() {
		position: inherit;
		left: initial;
		top: initial;
		bottom: initial;
		box-shadow: none;
		border-right: 2px solid var(--color-grey-300);
		transform: translateX(0) !important;
	}
}

main {
	flex-grow: 1;
	padding: 0.66rem;
	height: 100%;
}
