<h1>Mazu App</h1>

<div *ngIf="anythingIsLoading$ | async">
  Loading...
</div>

<section *ngIf="!(userIsLogged$ | async); else loggedUserRef">
  <h2>Sign In</h2>
  <button (click)="onSignIn()">Sign In</button>
</section>

<ng-template #loggedUserRef>

  <section>
    <h2>Lists</h2>
    <button (click)="onCreateList()">Create list</button>
    <button (click)="onGetAllLists()">Get all lists</button>
    <button (click)="onMarkAsFavorite()">Mark as favorite list</button>
    <button (click)="onUnmarkAsFavorite()">Unmark as favorite list</button>
    <button (click)="onUpdateList()">Update list</button>
    <button (click)="onDeleteList()">Delete list</button>
    <pre>{{ ((lists$ | async) || []) | json }}</pre>
  </section>

  <section>
    <h2>Items</h2>
    TODO...
  </section>

</ng-template>
