.mz-card {
  border: 2px solid transparent;
  border-radius: 1rem;
  box-shadow: 2px 2px 7px rgba(0,0,0,0.2);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  &.--selected {
    border-color: var(--color-primary-600);
  }
}

.mz-card h1,
.mz-card h2,
.mz-card h3,
.mz-card h4,
.mz-card h5,
.mz-card h6,
.mz-card p {
  margin: 0;
  padding: 0;
}

.mz-card__left {
  padding: 1rem;
  padding-right: 0;
}

.mz-card__content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.mz-card__top-right {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.mz-card__bottom-right {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}
