@mixin from-tablet() {
	@media screen and (min-width: 768px) {
		@content;
	}
}

:host {
  --grey: #cccccc;
  --grey-light: #e3e3e3;
  --grey-lightest: #ffffff;

	display: flex;
	flex-direction: column;
	padding: 0.66rem;
	margin: 0;
	width: 100vw;
	height: 100vh;
	overflow-y: auto;
	background-color: var(--grey-lightest);
}

header {
	padding: 1rem 0;
	margin-bottom: 1rem;
	border-bottom: 2px solid var(--grey);
	display: flex;
	align-items: center;
}

.menu-handle {
	margin: 0 0.66rem;
	padding: 0.5rem 1rem;
	border-radius: 100px;
	border: 2px solid var(--grey-light);
	transition: 0.15s background-color ease-out;
	cursor: pointer;

	&:hover {
		background-color: var(--grey-light);
	}

	@include from-tablet() {
		display: none;
	}
}

.tests {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	height: 100%;
}

aside {
	padding: 0.5rem;
	margin-right: 1rem;
	transform: translateX(-100%);
	transition: 0.15s all ease-out;

	&.visible {
		transform: translateX(0);
	}

	ul {
		padding-left: 0;
		list-style-type: none;
	}

	li {
		padding: 0.5rem 0.75rem;

		&.active {
			background-color: var(--grey-light);
			border-radius: 100px;
		}
	}
}

// Mobile-only
aside {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	overflow-y: auto;
	box-shadow: 0 0 2rem rgba(0,0,0,0.2);
	background: var(--grey-lightest);
	z-index: 10;
	min-width: 160px;

	@include from-tablet() {
		position: inherit;
		left: initial;
		top: initial;
		bottom: initial;
		box-shadow: none;
		border-right: 2px solid var(--grey);
		transform: translateX(0) !important;
	}
}

main {
	flex-grow: 1;
	padding: 0.66rem;
	height: 100%;
}

::ng-deep .mz-test-section {
	box-sizing: border-box;
	margin: 2rem 0;
	padding: 1rem;
	border: 1px solid var(--grey);;
	border-radius: 1rem;
}

::ng-deep .mz-test-case {
	margin: 1rem 0;
	box-sizing: border-box;
}
