<h2>Dropdown Menu</h2>

<section class="mz-demo-section">
  <section class="mz-demo-case">
    <h3>Basic</h3>

    <mz-dropdown-menu-trigger name="my-menu" triggerOn="click">
      <button mzButton>Menu</button>
    </mz-dropdown-menu-trigger>

    <mz-dropdown-menu
      name="my-menu"
      placement="right"
      [offsetY]="10"
      (actionClicked)="onActionClicked($event)"
    >
      <mz-dropdown-menu-action name="one">One</mz-dropdown-menu-action>
      <mz-dropdown-menu-action name="two">Two</mz-dropdown-menu-action>
      <mz-dropdown-menu-action name="three">Three</mz-dropdown-menu-action>
    </mz-dropdown-menu>

    <p>
      Esse nulla qui pariatur ullamco do non culpa tempor magna pariatur reprehenderit cupidatat nisi occaecat. Exercitation culpa id aliqua cupidatat pariatur id proident et et veniam. Ipsum ut mollit laboris eu aute enim amet ex sunt laborum dolore dolore. Reprehenderit eiusmod ipsum anim nulla.
    </p>
    <p>
      Anim Lorem nostrud consectetur exercitation est. Consequat est Lorem nostrud do non excepteur excepteur elit ut. Aliquip minim esse pariatur eu labore laborum laborum pariatur. Aliqua aliquip proident id voluptate Lorem exercitation eiusmod cillum aliquip cillum. Et esse aliqua Lorem adipisicing minim Lorem qui incididunt nulla minim. Magna veniam labore quis commodo laborum amet pariatur veniam labore adipisicing id.
    </p>
    <p>
      Consectetur cillum exercitation occaecat ad sit. Ullamco in laborum laborum sit quis qui nulla velit deserunt esse veniam sunt cillum sit. Eu eu veniam ex ut nostrud culpa duis anim culpa incididunt elit. Consectetur nisi nisi nisi sunt quis ea mollit id non consequat ea. Minim labore et dolor consectetur aute fugiat voluptate tempor excepteur duis.
    </p>
    <p>
      Eu et culpa occaecat consequat elit in adipisicing. Dolore excepteur nulla eiusmod laborum anim ad dolore. Culpa esse fugiat cupidatat duis qui id sint. Labore officia eu incididunt quis deserunt eu nostrud.
    </p>
    <p>
      Irure amet in pariatur quis eu mollit ipsum anim id Lorem. Dolor aute amet laboris laborum cillum velit quis sunt culpa exercitation esse. Ipsum nulla ad dolor proident. Qui Lorem ea esse voluptate ad culpa veniam sunt minim. Est esse amet eu duis voluptate id.
    </p>

  </section>
</section>
