<h2>Button</h2>

<section class="mz-demo-section">

  <section class="mz-demo-case">
    <h3>Color</h3>
    <button mzButton>Default (primary)</button>&nbsp;
    <button mzButton color="primary">Primary</button>&nbsp;
    <button mzButton color="primary-outline">Primary outline</button>&nbsp;
    <button mzButton color="secondary">Secondary</button>
  </section>

  <section class="mz-demo-case">
    <h3>Size</h3>
    <button mzButton size="small">Small</button>&nbsp;
    <button mzButton size="medium">Medium</button>&nbsp;
    <button mzButton size="large">Large</button>
  </section>

  <section class="mz-demo-case">
    <h3>With Full Width</h3>
    <button mzButton size="small" withFullWidth>Small</button>&nbsp;
    <button mzButton size="medium" withFullWidth>Medium</button>&nbsp;
    <button mzButton size="large" withFullWidth>Large</button>
  </section>

  <section class="mz-demo-case">
    <h3>Disabled</h3>
    <button mzButton isDisabled>Disabled</button>
  </section>

</section>
