@mixin set-icon-size($icon-size: 1rem)
{
  width: $icon-size;
	height: $icon-size;
  border-radius: $icon-size * 0.2;
  border-width: $icon-size * 0.0625;

  &::after {
    top: $icon-size * 0.25;
		width: $icon-size * 0.6;
		height: $icon-size * 0.3;
    border-left-width: $icon-size * 0.125;
    border-bottom-width: $icon-size * 0.125;
  }
}

@mixin set-icon-custom-size()
{
  width: var(--custom-size);
	height: var(--custom-size);
  border-radius: calc(var(--custom-size) * 0.2);
  border-width: min(calc(var(--custom-size) * 0.0625), 2px);

  &::after {
    top: calc(var(--custom-size) * 0.25);
		width: calc(var(--custom-size) * 0.6);
		height: calc(var(--custom-size) * 0.3);
    border-left-width: calc(var(--custom-size) * 0.125);
    border-bottom-width: calc(var(--custom-size) * 0.125);
  }
}

:host {
  // Override this with size input
  --custom-size: 1rem;
}

label {
	display: inline-flex;
	align-items: center;
	cursor: pointer;
	transition: 0.15s color ease-out;

	&:hover {
		color: var(--color-foreground-light);

		.-icon.--selected {
			background-color: var(--color-primary-700);
			border-color: var(--color-primary-700);
		}

		.-icon:not(.--selected) {
			background-color: var(--color-grey-100);
		}
	}
}

input[type="checkbox"] {
	width: 0;
	height: 0;
	opacity: 0;
	margin: 0;
}

.-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid var(--color-primary-800);
	background-color: transparent;
	transition: 0.15s all ease-out;
	cursor: pointer;
	position: relative;

  &.--size {
    &-medium { @include set-icon-size(1rem) }
    &-large { @include set-icon-size(1.5rem) }
    &-custom { @include set-icon-custom-size() }
  }

	&.--selected {
		background-color: var(--color-primary-600);

		&::after {
			transform: scale(1) rotate(-45deg);
		}
	}

	&::after {
		content: '';
		position: absolute;
		border-left: 2px solid var(--color-background);
		border-bottom: 2px solid var(--color-background);
		transform: scale(0) rotate(-45deg);
		transform-origin: center;
		transition: 0.15s transform ease-out;
	}
}

.-text {
	margin-left: 0.5rem;
  line-height: 1rem;
}
