<h2>Floating</h2>

<section class="mz-demo-section">
  <h3>Basic</h3>

  <section class="mz-demo-case">

    <!-- Floating trigger #1 -->
    <button mzFloatingTrigger="first-example" mzButton>
      Click me!
    </button>

    <!-- Floating target #1 -->
    <div
      mzFloatingTarget="first-example"
      placement="bottom-right"
      offsetY="5"
      class="demo-target"
    >
      This is a somewhat long tooltip content.
    </div>

  </section>

</section>

<section class="mz-demo-section">
  <h3>Placement</h3>

  <!-- Top left -->
  <section class="mz-demo-case">
    <h4><code>placement="top-left"</code></h4>
    <button mzFloatingTrigger="top-left-example" mzButton>Top Left</button>
    <div mzFloatingTarget="top-left-example" placement="top-left" class="demo-target">
      This is a somewhat long tooltip content.
    </div>
  </section>

  <!-- Top center -->
  <section class="mz-demo-case">
    <h4><code>placement="top"</code></h4>
    <button mzFloatingTrigger="top-example" mzButton>Top (center)</button>
    <div mzFloatingTarget="top-example" placement="top" class="demo-target">
      This is a somewhat long tooltip content.
    </div>
  </section>

  <!-- Top right -->
  <section class="mz-demo-case">
    <h4><code>placement="top-right"</code></h4>
    <button mzFloatingTrigger="top-right-example" mzButton>Top Right</button>
    <div mzFloatingTarget="top-right-example" placement="top-right" class="demo-target">
      This is a somewhat long tooltip content.
    </div>
  </section>

  <!-- Bottom left -->
  <section class="mz-demo-case">
    <h4><code>placement="bottom-left"</code></h4>
    <button mzFloatingTrigger="bottom-left-example" mzButton>Bottom Left</button>
    <div mzFloatingTarget="bottom-left-example" placement="bottom-left" class="demo-target">
      This is a somewhat long tooltip content.
    </div>
  </section>

  <!-- Bottom center -->
  <section class="mz-demo-case">
    <h4><code>placement="bottom"</code></h4>
    <button mzFloatingTrigger="bottom-example" mzButton>Bottom (center)</button>
    <div mzFloatingTarget="bottom-example" placement="bottom" class="demo-target">
      This is a somewhat long tooltip content.
    </div>
  </section>

  <!-- Bottom right -->
  <section class="mz-demo-case">
    <h4><code>placement="bottom-right"</code></h4>
    <button mzFloatingTrigger="bottom-right-example" mzButton>Bottom Right</button>
    <div mzFloatingTarget="bottom-right-example" placement="bottom-right" class="demo-target">
      This is a somewhat long tooltip content.
    </div>
  </section>

  <!-- Left -->
  <section class="mz-demo-case">
    <h4><code>placement="left"</code></h4>
    <button mzFloatingTrigger="left-example" mzButton>Left</button>
    <div mzFloatingTarget="left-example" placement="left" class="demo-target">
      This is a somewhat long tooltip content.
    </div>
  </section>

  <!-- Right -->
  <section class="mz-demo-case">
    <h4><code>placement="right"</code></h4>
    <button mzFloatingTrigger="right-example" mzButton>Right</button>
    <div mzFloatingTarget="right-example" placement="right" class="demo-target">
      This is a somewhat long tooltip content.
    </div>
  </section>

</section>

<section class="mz-demo-section">
  <h3>Hover</h3>

  <section class="mz-demo-case">
    <button mzFloatingTrigger="hover-example" triggerOn="hover" mzButton>
      Come hover here!
    </button>
    <div mzFloatingTarget="hover-example" placement="top" class="demo-target">
      This is a somewhat long tooltip content.
    </div>
  </section>

</section>

<section class="mz-demo-section">
  <h3>Offset</h3>

  <section class="mz-demo-case">

    <button mzFloatingTrigger="offset-example" mzButton>
      Click me
    </button>

    <div
      mzFloatingTarget="offset-example"
      placement="top-right"
      [offsetY]="-10"
      [offsetX]="50"
      class="demo-target"
    >
      This is a somewhat long tooltip content.
    </div>

  </section>

</section>

<section class="mz-demo-section">
  <h3>External control via trigger element</h3>

  <section class="mz-demo-case">

    <!-- Floating trigger #1 -->
    <button mzFloatingTrigger="external-example" #theTrigger="mzFloatingTrigger" mzButton>
      Click me
    </button>

    <hr>

    <button mzButton color="primary-outline" (click)="theTrigger.open()">
      Open
    </button>
    &nbsp;
    <button mzButton color="primary-outline" (click)="theTrigger.close()">
      Close
    </button>
    &nbsp;
    <button mzButton color="primary-outline" (click)="theTrigger.toggle()">
      Toggle
    </button>

    <div mzFloatingTarget="external-example" placement="top" class="demo-target">
      This is a somewhat long tooltip content.
    </div>

  </section>

</section>

<section class="mz-demo-section">
  <h3>Keep open on click</h3>

  <section class="mz-demo-case">

    <!-- Floating trigger #1 -->
    <button mzFloatingTrigger="keep-open-example" mzButton>
      Click me!
    </button>

    <!-- Floating target #1 -->
    <div
      mzFloatingTarget="keep-open-example"
      [closeOnClick]="false"
      placement="top"
      class="demo-target"
    >
      This is a somewhat long tooltip content.
    </div>

  </section>

</section>
