.target {
  border: 1px solid var(--color-primary-600);
  background-color: var(--color-background);
  padding: 1rem;
  border-radius: 0.5rem;
  list-style: none;
  min-width: 150px;

  &.--show {
    display: block;
  }

  &.--hide {
    display: none;
  }
}
