<h2>Floating</h2>

<!-- IMPORTANT: Floating host -->
<mz-floating-host></mz-floating-host>

<section class="mz-demo-section">
  <h3>Basic</h3>

  <section class="mz-demo-case">

    <!-- Floating trigger #1 -->
    <button mzFloatingTrigger="first" mzButton>
      Click me!
    </button>

    <!-- Floating target #1 -->
    <ng-template mzFloatingTemplate="first">
      <div
        mzFloatingTarget="first"
        placement="bottom-right"
        offsetY="5"
        class="demo-target"
      >
        This is a somewhat long tooltip content.
      </div>
    </ng-template>

  </section>

</section>

<section class="mz-demo-section">
  <h3>Placement</h3>

  <!-- Top left -->
  <section class="mz-demo-case">
    <h4><code>placement="top-left"</code></h4>
    <button mzFloatingTrigger="top-left" mzButton>Top Left</button>
    <ng-template mzFloatingTemplate="top-left">
      <div mzFloatingTarget="top-left" placement="top-left" class="demo-target">
        This is a somewhat long tooltip content.
      </div>
    </ng-template>
  </section>

  <!-- Top center -->
  <section class="mz-demo-case">
    <h4><code>placement="top"</code></h4>
    <button mzFloatingTrigger="top" mzButton>Top (center)</button>
    <ng-template mzFloatingTemplate="top">
      <div mzFloatingTarget="top" placement="top" class="demo-target">
        This is a somewhat long tooltip content.
      </div>
    </ng-template>
  </section>

  <!-- Top right -->
  <section class="mz-demo-case">
    <h4><code>placement="top-right"</code></h4>
    <button mzFloatingTrigger="top-right" mzButton>Top Right</button>
    <ng-template mzFloatingTemplate="top-right">
      <div mzFloatingTarget="top-right" placement="top-right" class="demo-target">
        This is a somewhat long tooltip content.
      </div>
    </ng-template>
  </section>

  <!-- Bottom left -->
  <section class="mz-demo-case">
    <h4><code>placement="bottom-left"</code></h4>
    <button mzFloatingTrigger="bottom-left" mzButton>Bottom Left</button>
    <ng-template mzFloatingTemplate="bottom-left">
      <div mzFloatingTarget="bottom-left" placement="bottom-left" class="demo-target">
        This is a somewhat long tooltip content.
      </div>
    </ng-template>
  </section>

  <!-- Bottom center -->
  <section class="mz-demo-case">
    <h4><code>placement="bottom"</code></h4>
    <button mzFloatingTrigger="bottom" mzButton>Bottom (center)</button>
    <ng-template mzFloatingTemplate="bottom">
      <div mzFloatingTarget="bottom" placement="bottom" class="demo-target">
        This is a somewhat long tooltip content.
      </div>
    </ng-template>
  </section>

  <!-- Bottom right -->
  <section class="mz-demo-case">
    <h4><code>placement="bottom-right"</code></h4>
    <button mzFloatingTrigger="bottom-right" mzButton>Bottom Right</button>
    <ng-template mzFloatingTemplate="bottom-right">
      <div mzFloatingTarget="bottom-right" placement="bottom-right" class="demo-target">
        This is a somewhat long tooltip content.
      </div>
    </ng-template>
  </section>

  <!-- Left -->
  <section class="mz-demo-case">
    <h4><code>placement="left"</code></h4>
    <button mzFloatingTrigger="left" mzButton>Left</button>
    <ng-template mzFloatingTemplate="left">
      <div mzFloatingTarget="left" placement="left" class="demo-target">
        This is a somewhat long tooltip content.
      </div>
    </ng-template>
  </section>

  <!-- Right -->
  <section class="mz-demo-case">
    <h4><code>placement="right"</code></h4>
    <button mzFloatingTrigger="right" mzButton>Right</button>
    <ng-template mzFloatingTemplate="right">
      <div mzFloatingTarget="right" placement="right" class="demo-target">
        This is a somewhat long tooltip content.
      </div>
    </ng-template>
  </section>

</section>
