<h2>Floating</h2>

<section class="mz-demo-section">

  <section class="mz-demo-case">
    <h3>Basic</h3>

    <p>
      Nostrud id exercitation sint magna labore incididunt nisi incididunt enim exercitation non. Do anim laborum labore labore ut dolore nostrud magna nulla consectetur incididunt. Sit consequat non elit deserunt. Veniam sit laborum occaecat officia minim culpa laborum commodo adipisicing commodo.
    </p>

    <p>
      Deserunt laboris est minim adipisicing reprehenderit dolor voluptate sit sint irure minim. Ipsum minim in culpa fugiat eu commodo est enim dolor tempor quis nostrud. Minim enim proident incididunt deserunt culpa non nostrud excepteur magna duis. Duis incididunt nisi excepteur reprehenderit cupidatat est non anim quis in. Nulla ea id qui aliqua nulla enim sunt et ullamco laborum sint sint nulla. Amet ad ex exercitation mollit in. Quis ea nulla aute ex.
    </p>

    <p>
      Dolor cupidatat id aliqua consectetur Lorem cupidatat eu. Nisi quis eiusmod eiusmod aliqua mollit pariatur ex et ut irure velit ex esse sunt. Officia occaecat pariatur occaecat ullamco laboris excepteur irure mollit sunt ut. Commodo et deserunt sint magna deserunt esse proident ut. Esse ullamco in ea laboris. Ex culpa fugiat magna qui cillum tempor duis deserunt mollit proident.
    </p>

    <p>
      Laborum mollit nisi eu mollit laborum. Laboris ipsum ut ex tempor ullamco irure esse sunt amet nostrud eiusmod in. Aliqua sit proident ullamco ex deserunt nostrud nulla magna aliquip sint.
    </p>

    <p>
      Proident magna minim occaecat consequat ad dolor amet quis culpa commodo pariatur qui Lorem. Cupidatat eiusmod elit cupidatat et sint magna Lorem irure esse aute. Enim occaecat culpa nulla duis consequat ut incididunt et sint mollit labore duis laborum magna. Fugiat occaecat reprehenderit ullamco enim eiusmod eiusmod ex sit veniam.
    </p>

    <!-- Handle -->
    <button
      #triggerRef="mzFloatingTrigger"
      mzFloatingTrigger
      (mouseenter)="targetRef.open()"
      (mouseleave)="targetRef.close()"
    >
      My button
    </button>

    <div
      #targetRef="mzFloatingTarget"
      [mzFloatingTarget]="triggerRef"
      closeOnClickAway
      clickStrategy="close"
      cssClassBase="tooltip"
    >
      My tooltip
    </div>

    <p>
      Nostrud id exercitation sint magna labore incididunt nisi incididunt enim exercitation non. Do anim laborum labore labore ut dolore nostrud magna nulla consectetur incididunt. Sit consequat non elit deserunt. Veniam sit laborum occaecat officia minim culpa laborum commodo adipisicing commodo.
    </p>

    <p>
      Deserunt laboris est minim adipisicing reprehenderit dolor voluptate sit sint irure minim. Ipsum minim in culpa fugiat eu commodo est enim dolor tempor quis nostrud. Minim enim proident incididunt deserunt culpa non nostrud excepteur magna duis. Duis incididunt nisi excepteur reprehenderit cupidatat est non anim quis in. Nulla ea id qui aliqua nulla enim sunt et ullamco laborum sint sint nulla. Amet ad ex exercitation mollit in. Quis ea nulla aute ex.
    </p>

    <p>
      Dolor cupidatat id aliqua consectetur Lorem cupidatat eu. Nisi quis eiusmod eiusmod aliqua mollit pariatur ex et ut irure velit ex esse sunt. Officia occaecat pariatur occaecat ullamco laboris excepteur irure mollit sunt ut. Commodo et deserunt sint magna deserunt esse proident ut. Esse ullamco in ea laboris. Ex culpa fugiat magna qui cillum tempor duis deserunt mollit proident.
    </p>

    <p>
      Laborum mollit nisi eu mollit laborum. Laboris ipsum ut ex tempor ullamco irure esse sunt amet nostrud eiusmod in. Aliqua sit proident ullamco ex deserunt nostrud nulla magna aliquip sint.
    </p>

    <p>
      Proident magna minim occaecat consequat ad dolor amet quis culpa commodo pariatur qui Lorem. Cupidatat eiusmod elit cupidatat et sint magna Lorem irure esse aute. Enim occaecat culpa nulla duis consequat ut incididunt et sint mollit labore duis laborum magna. Fugiat occaecat reprehenderit ullamco enim eiusmod eiusmod ex sit veniam.
    </p>

  </section>

</section>
