<h2>Button</h2>

<section class="mz-test-section">

  <section class="mz-test-case">
    <h3>Color</h3>
    <button mzButton>Default (primary)</button>
    <button mzButton color="primary">Primary</button>
    <button mzButton color="primary-outline">Primary outline</button>
    <button mzButton color="secondary">Secondary</button>
  </section>

  <section class="mz-test-case">
    <h3>Size</h3>
    <button mzButton size="small">Small</button>
    <button mzButton size="medium">Medium</button>
    <button mzButton size="large">Large</button>
    <button mzButton size="large">Large</button>
  </section>

  <section class="mz-test-case">
    <h3>With Full Width</h3>
    <button mzButton size="small">Small</button>
    <button mzButton size="medium">Medium</button>
    <button mzButton size="large">Large</button>
  </section>

  <section class="mz-test-case">
    <h3>Disabled</h3>
    <button mzButton [isDisabled]="true">Disabled</button>
  </section>

</section>
