.mz-input {
  font: inherit;
	transition: 0.15s all ease-out;
	box-sizing: border-box;
	border: 2px solid var(--color-grey-400);
  background-color: var(--color-background);
  color: var(--color-foreground);

  &:hover {
    border-color: var(--color-primary-300);
  }

  &:focus {
    outline-offset: 2px;
    outline: 1px dotted var(--color-primary-300);
    border-color: var(--color-primary-400);
  }

  &.--error {
    border-color: var(--color-error-400) !important;

    &:hover {
      border-color: var(--color-error-500) !important;
    }

    &:focus {
      outline-color: var(--color-error-300) !important;
    }
  }

  &.--success {
    border-color: var(--color-success-300);

    &:hover {
      border-color: var(--color-success-400);
    }

    &:focus {
      outline-color: var(--color-success-300);
    }
  }

  &.--size {

    &-small {
			font-size: 13px;
			line-height: 14px;
			padding: 0.4rem;
      border-radius: 0.4rem;
		}

		&-medium {
			font-size: 17px;
			line-height: 17px;
			padding: 0.55rem 0.8rem;
      border-radius: 0.5rem;
		}

    &-large {
			font-size: 18px;
			line-height: 20px;
			padding: 0.8rem 1rem;
      border-radius: 0.66rem;
		}
	}

  &.--full-width {
    width: 100%;
  }

  &.--disabled,
	&[disabled] {
		pointer-events: none;
		cursor: not-allowed;
		opacity: 0.5;
	}
}
