.navigation-item {
  background-color: transparent;
  border: 0;
  width: 100%;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.navigation-item a {
  margin-top: 0.3rem;
  text-decoration: none;
}
