.mz-dropdown-menu-action {
  padding: 0.5rem 1rem;
  margin: 0.2rem;
  border-radius: 0.5rem;
  cursor: pointer;

  &:hover,
  &.--active {
    background-color: var(--color-primary-600);
    color: var(--color-background);
  }
}
